.slider2 {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  width: 98%;
  margin: 1rem;
}
.slider2 img {
  border-radius: 5%;
  border: 2px solid rgb(96, 96, 135);
  transition: transform 0.3s ease-in-out;
}
.slider2 img:hover {
  transform: translateZ(50px);
  border: 2px solid seagreen;
}

@media only screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .slider2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
