.flex {
  display: flex;
}
.img {
  width: 24%;
  margin: 50px;
  height: 45%;
  perspective: 800px;
  margin-top: 55px;
}
.content {
  width: 100%;
  margin-top: 20px;
  margin-left: 120px;
  height: 400px;
}
.btn {
  background-color: yellowgreen;
  border: none;
  margin: 20px;
  height: 3vh;
  width: 100px;
}
.img img {
  border: 2px solid rgba(87, 87, 165);
  transition: transform 0.3s ease-in-out;
}
.img img:hover {
  transform: translateZ(100px);
  border: 2px solid yellowgreen;
}
.h2data {
  padding: 10px;
}
